<div class="talk-card" style="background-image:url('/images/speaker-{{item.speaker.name | slug }}.jpg')">
  <p><a href="/events/{{ item.date | formatDate }}" class="btn bubble">{{ item.date | formatDate('LLLL d') }}</a> at Jamstack London</p>
  <h2 class="speaker">{{ item.speaker.name }}{% if item.speaker.company %}, {{ item.speaker.company }} {% endif %}</h2>
  <h3><a href="/talks/{{ item.title | slug }}/">{{ item.title}}</a></h3>
</div>