<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <ul class="nav">
      <li><a href="/" class="home">Home</a></li>
      <li><a href="/talks/" class="home">Talks</a></li>
      <li><a href="/speak/" class="home">Speak</a></li>
    </ul>
    <h1 class="site_title">Jamstack London</h1>
  </header>
  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>
  <footer>
    <div class="container">
      <ul class="nav">
        <li><a href="/" class="home">Home</a></li>
        <li><a href="/talks/" class="home">Events</a></li>
        <li><a href="/talks/" class="home">Talks</a></li>
        <li><a href="/speak/" class="home">Apply to speak</a></li>
      </ul>
      <ul class="nav">
        <li><a href="https://twitter.com/JamstackLondon" class="twitter">@JamstackLondon</a></li>
        <li><a href="https://jamstack.org" class="twitter">Jamstack.org</a></li>
        <li><a href="https://jamstack.org/conference" class="twitter">Jamstack Conf</a></li>
        <li><a href="/code-of-conduct/" class="home">Code of Conduct</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>

