<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Jamstack London</title> 
  <meta name="description" content="The London Jamstack community meetup. A regular meeting for talks and discussion about Jamstack and related web development topics. "/>    
  {% if ogImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@jamstacklondon" />
  <meta name="twitter:title" content="The London Jamstack meetup group" />
  <meta name="twitter:description" content="The London Jamstack community meetup. A regular meeting for talks and discussion about Jamstack and related web development topics. " />
  <meta name="twitter:creator" content="@jamstacklondon" />
  <meta name="twitter:image" content="https://jamstacklondon.com/images/{{ ogImage }}" />
  <meta name="og:image" content="https://jamstacklondon.com/images/{{ ogImage }}" />
  <meta name="og:image:secure_url" content="https://jamstacklondon.com/images/{{ ogImage }}" />
  <meta name="image" property="og:image" content="https://jamstacklondon.com/images/{{ ogImage }}" />
  <meta property="og:site_name" content="Jamstack London" />
  <meta property="og:title" content="The London Jamstack meetup group" />
  <meta property="og:description" content="The London Jamstack community meetup. A regular meeting for talks and discussion about Jamstack and related web development topics." />
  {% endif %}
  

</head>
<body>
  <header>
    <ul class="nav">
      <li><a href="/" class="home">Home</a></li>
      <li><a href="/talks/" class="home">Talks</a></li>
      <li><a href="/speak/" class="home">Speak</a></li>
    </ul>
    <h1 class="site_title">Jamstack London</h1>
  </header>
  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>
  <footer>
    <div class="container">
      <ul class="nav">
        <li><a href="/" class="home">Home</a></li>
        <li><a href="/talks/" class="home">Talks</a></li>
        <li><a href="/speak/" class="home">Apply to speak</a></li>
        <li><a href="/code-of-conduct/" class="home">Code of Conduct</a></li>
      </ul>
      <ul class="nav">
        <li><a href="https://twitter.com/JamstackLondon" class="twitter">@JamstackLondon</a></li>
        <li><a href="https://jamstack.org" class="twitter">Jamstack.org</a></li>
        <li><a href="https://jamstack.org/conference" class="twitter">Jamstack Conf</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>

