---
layout: "layouts/base.njk"
---

<a href="/events/{{ date | formatDate }}" class="btn bubble">{{ date | formatDate('LLLL dd, yyyy') }}</a>
<h2 class="event-title">{{ title }}</h2>
<div class="teaser">
  {{ content | safe }}
</div>


{% if date | future %}
<div class="ctas">
  <a href="{{ meetupLink }}" class="btn bubble">Register for the meetup</a>
  <a href="{{ eventLink }}" class="btn bubble">Join the online event </a>
</div>
{% endif %}

<div class="talks">
{% for item in talks %}
  {% include "talk-tout.njk" %} 
{% endfor %}
</div> 

<h2>Event schedule (times in UTC)</h2>
<ol class="schedule">
  <li>
    <time datetime="{{date | formatDate }} 17:00Z">17:00</time> — <span><a href="{{ eventLink }}">Doors open</a> with social time in the lounge</span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 17:35Z">17:35</time> — <span><a href="/talks/{{talks[0].title | slug }}">Talk 1: {{talks[0].speaker.name}}</a></span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 18:00Z">18:00</time> — <span><a href="/talks/{{talks[1].title | slug }}">Talk 2: {{talks[1].speaker.name}}</a></span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 18:20Z">18:20</time> — <span>90 second spotlights</span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 18:30Z">18:30</time> — <span>Thanks and information for next time</span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 18:35Z">18:35</time> — <span>Post game chatter and in the lounge</span>
  </li>
  <li>
    <time datetime="{{date | formatDate }} 19:05Z">19:05</time> — <span>Event ends</span>
  </li>
</ol>

<h2>90 Second spotlights</h2>
<p>
  Each time we meet we'll have space for up to 5 people to grab the microphone for a maximum of 90 seconds to tell us something.
</p>
<p>
  Are you building a new product? Have you released a new project that you're proud of? Are you recruiting? Are you looking for contributor to your open source project? Tell us!
</p>
<p>
  <a href="/speak/">Claim your spot</a> and practice cramming your info into 90 seconds. (Because at 91 seconds, we're moving on!) 
</p>