// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

// Colours

$primary-text-color: #222;
$secondary-text-color: #555555;
$primary-page-color: #f2f2f2;
$accent-color: #ff00a2;
$accent-color-alternate: #00d9ff;