---
pagination:
  data: collections.talks
  alias: talk
  size: 1
permalink: "/talks/{{ talk.title | slug }}/index.html"
layout: layouts/base.njk
---

{% set item = talk %}
{% include "talk-tout.njk" %} 

{% if item.date | future %}
  <p><a href="/events/{{ item.date | formatDate }}">Join us</a> at the free online meetup to see {{ item.speaker.name }} speak.</p>
{% else %}
  <p>Presented at Jamstack London <a href="/events/{{ item.date | formatDate }}" class="btn bubble">{{ item.date | formatDate('LLLL d') }}</a></p>
{% endif %}

<h2>About this talk</h2>
<div class="description">
  {{ item.description | markdownify | safe }}
</div>

<h2>{{ item.speaker.name }} on the internet</h2>
<ul class="links_list">
  {% for link in item.speaker.links %}
  <li><a href="{{ link }}">{{ link }}</a></li>
  {% endfor %}
</ul>
