---
title: Home
layout: layouts/base.njk
---

<section>
  <h2>The London Jamstack meetup group</h2>
  <p>
    A regular online meetup to talk about <a href="https://jamstack.com/community">Jamstack</a> web development and related topics. Each event includes 2 talks of 20 minutes, a number of 90 second shout-outs, and plenty of time to chat as a group to discuss the talks and all things Jamstack.
  </p>
</section>



{% set upcoming = collections.event | upcoming %}
{% set item = upcoming | first %}
<section>
<a href="/events/{{ item.data.date | formatDate }}" class="btn bubble">Next meeting -  {{ item.data.date | formatDate('LLLL dd, yyyy') }}</a>
<h2 class="event-title">{{ item.data.title }}</h2>
<div class="teaser">
  {{ item.templateContent | safe }}
</div>
<div class="talks">
  {% for item in item.data.talks %}
  {% include "talk-tout.njk" %} 
  {% endfor %}
</div>
<p>
  <a href="/events/{{ item.data.date | formatDate }}">Find more information on event times and how to get attend.</a>
</p> 
</section>


{% if (upcoming.length > 1) %}
<section>
<h2>More to come at Jamstack London</h2>
<p>
  Following the event on <a href="/events/{{ item.data.date | formatDate }}">{{ item.data.date | formatDate('LLLL dd') }}</a> we have more dates for your diary
</p>
</section>


{% for item in upcoming.slice(1,upcoming.length) %}
<section>
<a href="/events/{{ item.data.date | formatDate }}" class="btn bubble">{{ item.data.date | formatDate('LLLL dd, yyyy') }}</a>
<h2 class="event-title">{{ item.data.title }}</h2>
<div class="teaser">
  {{ item.templateContent | safe }}
</div>
<div class="talks">
  {% for item in item.data.talks %}
  {% include "talk-tout.njk" %} 
  {% endfor %}
</div>
<p>
  <a href="/events/{{ item.data.date | formatDate }}">Find more information on event times and how to get attend.</a>
</p> 
</section>
{% endfor %}



{% endif %}
