---
title: Home
layout: layouts/base.njk
---

<ul>
{% for talk in collections.talks %}
  <li>
    <h2><a href="/talks/{{ talk.title | slug }}/">{{ talk.title}}</a></h2>
    <p class="speaker">{{ talk.speaker.name }}</p>
    <p class="date">{{ talk.date}}</p>
    <div class="description">
      {{ talk.description }}
    </div>  
  </li>
{% endfor %}
</ul>