---
title: Talks
layout: layouts/base.njk
---

<p>
  Want to add your talk to the list below? A meetup like this is a great place to debut a new talk or to speak for the very first time. We're eager to help you make a success of your talk.
</p>
<p>
  Why not <a href="/speak/">submit a talk</a>?
</p>

<h2>Talks</h2>
<p>
  Huge thanks to all of our speakers. Videos of the talks are shared with their kind permission.
</p>
<ul class="talks-list">
{% for item in collections.talks | reverse %}
{% include "talk-tout.njk" %} 
{% endfor %}
</ul>