---
title: Thanks for applying to speak
layout: layouts/base.njk
---

<p>
  All done.
</p>
<h2>Thanks!</h2>
<p>
  Thank you for taking the time to submit your idea for a talk. It's much appreciated. We'll get back to you as quickly as we can.
</p>

<h2>Stay connected</h2>
<p>
  To stay informed of the goings-on at Jamstack London and the wider Jamstack community, you can follow <a href="https://twitter.com/JamstackLondon">@JamstackLondon</a> and <a href="https://twitter.com/JamstackConf">@JamstackConf</a> on Twitter. 
</p>
<p>
  And consider joining the growing community of developers in the official <a href="https://jamstack.org/slack">Jamstack Slack</a>.
</p>